
* {
    font-family: "Freight Sans Bold", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}

body {
    background-color:  #edf0f5;
}

h1 {
    margin-bottom: -13px;
}

h4 {
    font-size: small;
}

#email, #email2, #password {
    width: 264px;
    padding: 5px;
    margin: 5px;
    border-color: grey;
    border: 3px;
    font-size: medium;
    border-radius: 5px
}

#fname, #lname {
    width: 118px;
    padding: 5px;
    margin: 5px;
    border-color: grey;
    border: 1px;
    font-size: medium;
    border-radius: 5px
}

.lol {
    font-size: small;
    padding: 5px;
}

#gender {
    font-weight: bold;
    font-size: small;
}

#signup {
    background-color: #659d50;
    height: 40px;
    font-size: 15px;
    font-weight: 40px;
    width: 180px;
    color: white;
    border-radius: 5px;
    border-color: #edf0f5;
}

#whybday {
    width: 50px;
    font-size: x-small;
}

#disclaimer {
    width: 200px;
    font-size: x-small;
}