/* Max Arrowood 10/25/2022 */

#main {
    width: 90%;
    margin: 0 auto 0 auto;
    padding: 2%;
    background-color: #d7d7d7;
}

h1 {
    color: #cf0000;
}

p {
    border: blue 1px solid;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clearfloat {
    clear: both;
}