* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: rgb(14,6,159);
    background: linear-gradient(90deg, rgba(14,6,159,1) 0%, rgba(37,37,177,1) 28%, rgba(0,212,255,1) 76%);
}

#but {
    margin-top: 50px;
}

#inputs {
    background-color: #dbdbdb;
    max-width: 500px;
    margin-bottom: 0px;
    border-radius: 10px;
}

#heads {
    background-color: #dbdbdb;
    max-width: 750px;
    margin: 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: -15px;
}

#pint {
    margin-top: 15px;
}

input {
    padding: 2px;
    margin: 10px;
    border-radius: 5px;
    font-size: larger;
}

#outputs {
    background-color: #dbdbdb;
    max-width: 500px;
    border-radius: 10px;
    margin: 5px;
}