* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#inputs {
    background-color: blanchedalmond;
}

#head {
    background-color: #dbdbdb;
    max-width: 1000px;
    margin: 50px;
}

#pint {
    margin-top: 15px;
}

input, label {
    padding: 2px;
    margin: 15px;
}