* {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color:white;
}

html {
	background-color: black;
}

nav {
	padding: 0.5%;
}

nav li{
    display: inline;
}

nav li a {
	color: white;
    margin-left: -2px;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	background-color: rgba(0,0,0,.60);
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}

a:hover {
	color: blueviolet;
}

a:active {
	color: blue;
}

#top h1 {
	margin-top: 200px;
	margin-bottom: -7px;
	color: white;
	font-size: 75px;
}

#cap {
	margin-left: 20%;
	margin-bottom: 200px;
	color: white;
}

#topspace, #botspace{
	visibility: hidden;
}

#backimg {
	background-image: url("../images/cwatsblur.png");
	background-repeat: no-repeat;
  	background-size: cover;
	margin-top: -75px;
	background-color: black !important;
}

#break {
	background: rgb(255,184,28);
	background: linear-gradient(90deg, rgba(255,184,28,1) 0%, rgba(24,48,40,1) 100%);
	margin-top: 75px;
}

#genh {
	margin-left: 10%;
	margin-top: 75px;
}

#genp {
	font-size: 16px;
	margin-left: 15%;
	margin-right: 15%;
}

#eduh {
	margin-left: 10%;
	margin-top: 75px;
}

#edup {
	font-size: 16px;
	margin-left: 15%;
	margin-right: 15%;
}

#iframe {
	margin: 15%;
	margin-top: 7.5%;
	margin-bottom: 5%;
	max-width: 80%;
	min-width: 60%;
	max-height: 500px;
	min-height: 200px;
	border: 15px;
	border-color: white;
	border-radius: 10px;
}

hr {
	max-width: 85%;
}