* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	
}

html {
	background-color: black;
}

nav {
	padding: 0.5%;
}

nav li{
    display: inline;
}

nav li a {
	color: white;
    margin-left: -5px;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	background-color: rgba(0,0,0,.60);
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}

a:hover {
	color: blueviolet;
}

a:active {
	color: blue;
}

#top h1 {
	margin-left: 20%;
	margin-top: 125px;
	margin-bottom: -7px;
	color: white;
	font-size: 350%;
}

#cap {
	margin-left: 20%;
	margin-bottom: 125px;
	color: white;
}

#topspace, #botspace{
	visibility: hidden;
}

#backimg {
	background: rgba(122,39,185,.75);
	background: linear-gradient(90deg, rgba(122,39,185,.60) 0%, rgba(99,9,121,.60) 29%, rgba(0,78,255,.60) 100%);
	margin-top: -75px;
	background-color: black !important;
}

#about h1 {
	margin-left: 10%;
	margin-top: 75px;
	font-size: 30px;
	text-decoration: underline;
}

#about {
	color: white;
}

#ab {
	font-size: smaller;
	margin-left: 15%;
	margin-right: 15%;
}

#break {
	background: rgba(122,39,185,.60);
	margin-top: 75px;
}

#service h1 {
	margin-top: 75px;
	margin-left: 10%;
	font-size: 30px;
	text-decoration: underline;
}

#service {
	color: white;
}

#serv {
	font-size: smaller;
	margin-left: 15%;
	margin-right: 15%;
}