* {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
	background-color: black;
}

nav {
	padding: 0.5%;
}

nav li{
    display: inline;
}

nav li a {
	color: white;
    margin-left: -2px;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	background-color: rgba(0,0,0,.60);
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
}

a:hover {
	color: blueviolet;
}

a:active {
	color: blue;
}

#top h1 {
	font-family: 'Lucida Sans';
	margin-left: 20%;
	margin-top: 250px;
	margin-bottom: -7px;
	color: white;
	font-size: 75px;
}

#cap {
	font-family: 'Lucida Sans';
	margin-left: 20%;
	margin-bottom: 250px;
	color: white;
	font-size: 20px;
}

#topspace, #botspace{
	visibility: hidden;
}

#backimg {
	background-image: url("../images/grade.gif");
	background-repeat: no-repeat;
  	background-size: cover;
	margin-top: -75px;
	background-color: black !important;
}

#about h1 {
	margin-left: 10%;
	margin-top: 75px;
	font-size: 30px;
}

#about {
	color: white;
}

#ab {
	font-size: 16px;
	margin-left: 15%;
	margin-right: 15%;
}

#break {
	background-image: url("../images/grade.gif");
	background-size: 300%;
	margin-top: 75px;
}

#service h1 {
	margin-top: 75px;
	margin-left: 10%;
	font-size: 30px;
}

#service {
	color: white;
}

#serv {
	font-size: 16px;
	margin-left: 15%;
	margin-right: 15%;
}

#contact {
	color: white;
}

#fname, #lname {
	min-width: 25%;
	max-width: 20%;
	font-style: italic;
	color: black;
	border: 10px;
	border-radius: 5px;
}

textarea {
	max-width: 70%;
	min-width: 70%;
	min-height: 150px;
	max-height: 200px;
	font-style: italic;
	border-radius: 5px;
}

#contact {
	font-size: smaller;
	margin-left: 15%;
	margin-right: 15%;
}

#cont {
	font-size: 30px;
	margin-left: 10%;
	color: white;
	margin-top: 75px;
}

#submit {
	min-width: 100px;
	max-width: 100px;
	min-height: 25px;
	max-height: 25px;
	background-color: rgba(122,39,185,.70); 
	color: white;
	border: 10px;
	border-radius: 10px;
}

hr {
	max-width: 65%;
}

footer {
	color: white;
	font-size: x-small;
	margin-left: 10%;
	margin-bottom: 75px;
}
