table, td, th {
    border: 5px solid black;
    background-color: #a366ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4px;
}

th {
    background-color: #383B75;
    color: white;
}

hr {
    color
}

caption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: larger;
}

img {
    max-width: 300px;
    max-height: 200px;
}

video {
    max-width: 300px;
    max-height: 200px;
}

body {
    background-image: url(images/back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana;
}

#imgsrc, #vidsrc, #audsrc {
    margin-left:5%; 
    margin-right:5%;
}

h2 {
    text-align: left;
}

/* Gradient Backdrop */
body {
background: hsla(237, 77%, 86%, 1);

background: linear-gradient(90deg, hsla(237, 77%, 86%, 1) 0%, hsla(237, 86%, 71%, 1) 90%, hsla(237, 45%, 56%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(237, 77%, 86%, 1) 0%, hsla(237, 86%, 71%, 1) 90%, hsla(237, 45%, 56%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(237, 77%, 86%, 1) 0%, hsla(237, 86%, 71%, 1) 90%, hsla(237, 45%, 56%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C0C3F7", endColorstr="#767CF5", GradientType=1 );
}