table, td, th {
    border: 2px solid black;
    background-color: #F06C6F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4px;
}

th {
    background-color: #703234;
}

img {
    max-width: 250px;
    max-height: 150px;
}